<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Mes enchères</title>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="ajust-tri-encheres">
      <h1>Mes enchères</h1>

      <!--barre de recherche des ventes-->
      <ng-container *ngIf="verifEncheres() === true">
        <form [formGroup]="encheresForm">
          <label class="libelleMesEncheres">Mes enchères :</label>
          <select
            class="tri-encheres"
            formControlName="encheresControl"
            (change)="selectTypeEncheres()"
          >
            <option *ngFor="let enchere of encheres" [value]="enchere">
              {{ enchere }}
            </option>
          </select>
        </form>
      </ng-container>
    </div>

    <div class="container">
      <div class="row">
        <!--liste des objets avec enchère en cours-->
        <ng-container *ngIf="this.isEnCours === true">
          <div
            *ngFor="let article of listeUserEncheresEnCours"
            class="col-lg-3 col-md-4 col-sm-6 col-xs-12"
          >
            <div class="box card">
              <div class="box cardImg">
                <img
                  src="https://image.freepik.com/psd-gratuit/cap-maquette_1310-498.jpg"
                  alt="..."
                />
              </div>
              <div class="info">
                <h3>{{ article.nomArticle }}</h3>
                <p>
                  <span>{{ article.miseAPrix }}</span> pts
                </p>
                <button
                  class="btn btn-success"
                  routerLink="/enchere/afficher/{{ article.id }}"
                >
                  Détails
                </button>
              </div>
            </div>
          </div>
        </ng-container>

        <!--liste des objets avec enchère terminée-->
        <ng-container *ngIf="this.isTerminees === true">
          <div
            *ngFor="let article of listeUserEncheresTerminees"
            class="col-lg-3 col-md-4 col-sm-6 col-xs-12"
          >
            <div class="box card">
              <div class="box cardImg">
                <img
                  src="https://image.freepik.com/psd-gratuit/cap-maquette_1310-498.jpg"
                  alt="..."
                />
              </div>
              <div class="info">
                <h3>{{ article.nomArticle }}</h3>
                <p>
                  <span>{{ article.miseAPrix }}</span> pts
                </p>
                <button
                  class="btn btn-success"
                  routerLink="/enchere/terminee/afficher/{{ article.id }}"
                >
                  Détails
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </body>
</html>
