.box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

body {
  margin-bottom: 4%;
}

.slogan {
  margin: auto;
  margin-top: 3%;
  border: 1px solid black;
  width: 33%;
  font-size: 30px;
  padding: 5px;
  border-radius: 1em;
  background-color: black;
  color: #40a497;
}

.logo_tes_accueil,
.logo_tes_telephonie {
  background-color: black;
}

.ajust-tri-cat {
  margin-bottom: -20px;
}

.libelleTrier {
  font-size: large;
  margin-left: 21%;
}

.tri-categorie {
  width: 10%;
  margin-top: 2.5%;
  margin-left: 1%;
}

button {
  background-color: #40a497;
  border-color: #40a497;
  color: yellow;
}

.card {
  margin-top: 28%;
  height: 84%;
  transition: 0.5s;
}

.card:hover {
  border: 1px solid red;
  border-radius: 30px;
}

.card .cardImg {
  height: 50%;
  width: 90%;
  position: relative;
  top: -15px;
  left: 5%;
}

.card .cardImg img {
  width: 100%;
  height: 100%;
}

.card .info {
  text-align: center;
}

.card .info h3 {
  color: rgb(70, 66, 66);
}

.card .info p {
  color: red;
}
